![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

<img src="https://user-images.githubusercontent.com/7065401/68501079-0695df00-023c-11ea-841f-455dac84a089.jpg"
    style="width:400px; float: right; margin: 0 40px 40px 40px;"></img>

# Reading HTML tables

In this lecture we'll learn how to read and parse HTML tables from websites into a list of `DataFrame` objects to work with.

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Hands on!

In [1]:
!pip install lxml

Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (4.2.6)

In [2]:
import pandas as pd

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

##Â Parsing raw HTML strings

Another useful pandas method is `read_html()`. This method will read HTML tables from a given URL, a file-like object, or a raw string containing HTML, and return a list of `DataFrame` objects.

Let's try to read the following `html_string` into a `DataFrame`.

In [3]:
html_string = """
<table>
    <thead>
      <tr>
        <th>Order date</th>
        <th>Region</th> 
        <th>Item</th>
        <th>Units</th>
        <th>Unit cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1/6/2018</td>
        <td>East</td> 
        <td>Pencil</td>
        <td>95</td>
        <td>1.99</td>
      </tr>
      <tr>
        <td>1/23/2018</td>
        <td>Central</td> 
        <td>Binder</td>
        <td>50</td>
        <td>19.99</td>
      </tr>
      <tr>
        <td>2/9/2018</td>
        <td>Central</td> 
        <td>Pencil</td>
        <td>36</td>
        <td>4.99</td>
      </tr>
      <tr>
        <td>3/15/2018</td>
        <td>West</td> 
        <td>Pen</td>
        <td>27</td>
        <td>19.99</td>
      </tr>
    </tbody>
</table>
"""

The read_html method reads the entire HTML and looks for multiple tables, not just one as the website most like will have multiple tables.

In [4]:
dfs = pd.read_html(html_string)

The `read_html` just returned one `DataFrame` object:

In [5]:
len(dfs)

1

In [6]:
df = dfs[0]

df

  Order date   Region    Item  Units  Unit cost
0   1/6/2018     East  Pencil     95       1.99
1  1/23/2018  Central  Binder     50      19.99
2   2/9/2018  Central  Pencil     36       4.99
3  3/15/2018     West     Pen     27      19.99

Previous `DataFrame` looks quite similar to the raw HTML table, but now we have a `DataFrame` object, so we can apply any pandas operation we want to it.

In [7]:
df.shape

(4, 5)

In [8]:
df.loc[df['Region'] == 'Central']

  Order date   Region    Item  Units  Unit cost
1  1/23/2018  Central  Binder     50      19.99
2   2/9/2018  Central  Pencil     36       4.99

In [9]:
df.loc[df['Units'] > 35]

  Order date   Region    Item  Units  Unit cost
0   1/6/2018     East  Pencil     95       1.99
1  1/23/2018  Central  Binder     50      19.99
2   2/9/2018  Central  Pencil     36       4.99

###Â Defining header

Pandas will automatically find the header to use thanks to the <thead> tag.
    
But in many cases we'll find wrong or incomplete tables that make the `read_html` method parse the tables in a wrong way without the proper headers.

To fix them we can use the `header` parameter.

In [10]:
html_string = """
<table>
  <tr>
    <td>Order date</td>
    <td>Region</td> 
    <td>Item</td>
    <td>Units</td>
    <td>Unit cost</td>
  </tr>
  <tr>
    <td>1/6/2018</td>
    <td>East</td> 
    <td>Pencil</td>
    <td>95</td>
    <td>1.99</td>
  </tr>
  <tr>
    <td>1/23/2018</td>
    <td>Central</td> 
    <td>Binder</td>
    <td>50</td>
    <td>19.99</td>
  </tr>
  <tr>
    <td>2/9/2018</td>
    <td>Central</td> 
    <td>Pencil</td>
    <td>36</td>
    <td>4.99</td>
  </tr>
  <tr>
    <td>3/15/2018</td>
    <td>West</td> 
    <td>Pen</td>
    <td>27</td>
    <td>19.99</td>
  </tr>
</table>
"""

In [11]:
pd.read_html(html_string)[0]

            0        1       2      3          4
0  Order date   Region    Item  Units  Unit cost
1    1/6/2018     East  Pencil     95       1.99
2   1/23/2018  Central  Binder     50      19.99
3    2/9/2018  Central  Pencil     36       4.99
4   3/15/2018     West     Pen     27      19.99

In this case, we'll need to pass the row number to use as header using the `header` parameter.

In [12]:
pd.read_html(html_string, header=0)[0]

  Order date   Region    Item  Units  Unit cost
0   1/6/2018     East  Pencil     95       1.99
1  1/23/2018  Central  Binder     50      19.99
2   2/9/2018  Central  Pencil     36       4.99
3  3/15/2018     West     Pen     27      19.99

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

##Â Parsing HTML tables from the web

Now that we know how `read_html` works, go one step beyond and try to parse HTML tables directly from an URL.

To do that we'll call the `read_html` method with an URL as paramter.

### Simple example

In [13]:
html_url = "https://www.basketball-reference.com/leagues/NBA_2019_per_game.html"

In [14]:
nba_tables = pd.read_html(html_url)

In [15]:
len(nba_tables)

1

We'll work with the only one table found:

In [16]:
nba = nba_tables[0]

In [17]:
nba.head()

  Rk        Player Pos Age   Tm   G  GS  ...  TRB  AST  STL  BLK  TOV   PF   PTS
0  1  Ãlex Abrines  SG  25  OKC  31   2  ...  1.5  0.6  0.5  0.2  0.5  1.7   5.3
1  2    Quincy Acy  PF  28  PHO  10   0  ...  2.5  0.8  0.1  0.4  0.4  2.4   1.7
2  3  Jaylen Adams  PG  22  ATL  34   1  ...  1.8  1.9  0.4  0.1  0.8  1.3   3.2
3  4  Steven Adams   C  25  OKC  80  80  ...  9.5  1.6  1.5  1.0  1.7  2.6  13.9
4  5   Bam Adebayo   C  21  MIA  82  28  ...  7.3  2.2  0.9  0.8  1.5  2.5   8.9

[5 rows x 30 columns]

### Complex example

We can also use the `requests` module to get HTML code from an URL to parse it into `DataFrame` objects.

If we look at the given URL we can see multiple tables about The Simpsons TV show.

We want to keep the table with information about each season.

In [18]:
import requests

html_url = "https://en.wikipedia.org/wiki/The_Simpsons"

In [19]:
r = requests.get(html_url)

wiki_tables = pd.read_html(r.text, header=0)

In [20]:
len(wiki_tables)#There are 41 tables in this website

41

In [21]:
simpsons = wiki_tables[1]#We get a specific table

In [22]:
simpsons.head()

   Season Season.1  ...          Viewership.1             Viewership.2
0  Season   Season  ...  Most watched episode     Most watched episode
1  Season   Season  ...     Viewers(millions)            Episode title
2       1  1989â90  ...                  33.5  "Life on the Fast Lane"
3       2  1990â91  ...                  33.6       "Bart Gets an 'F'"
4       3  1991â92  ...                  25.5          "Colonel Homer"

[5 rows x 9 columns]

HTML is designed for Humans, not for machines, so we will need to do some cleaning.

Quick clean on the table: remove extra header rows and set `Season` as index.

In [23]:
simpsons.drop([0, 1], inplace=True)

In [24]:
simpsons.set_index('Season', inplace=True)

Which season has the lowest number of episodes?

In [25]:
simpsons['No. ofepisodes'].unique()

array(['13', '22', '24', '25', '23', '21', '20'], dtype=object)

In [26]:
simpsons = simpsons.loc[simpsons['No. ofepisodes'] != 'TBA']

In [27]:
min_season = simpsons['No. ofepisodes'].min()

min_season

'13'

In [28]:
simpsons.loc[simpsons['No. ofepisodes'] == min_season]

       Season.1 No. ofepisodes  ... Viewership.1             Viewership.2
Season                          ...
1       1989â90             13  ...         33.5  "Life on the Fast Lane"

[1 rows x 8 columns]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

##Â Save to CSV file

Finally save the `DataFrame` to a CSV file as we saw on previous lectures.

In [29]:
simpsons.head()

       Season.1 No. ofepisodes  ... Viewership.1              Viewership.2
Season                          ...
1       1989â90             13  ...         33.5   "Life on the Fast Lane"
2       1990â91             22  ...         33.6        "Bart Gets an 'F'"
3       1991â92             24  ...         25.5           "Colonel Homer"
4       1992â93             22  ...         28.6       "Lisa's First Word"
5       1993â94             22  ...         24.0  "Treehouse of Horror IV"

[5 rows x 8 columns]

In [30]:
simpsons.to_csv('out.csv')

In [31]:
pd.read_csv('out.csv', index_col='Season').head()

       Season.1  No. ofepisodes  ... Viewership.1              Viewership.2
Season                           ...
1       1989â90              13  ...         33.5   "Life on the Fast Lane"
2       1990â91              22  ...         33.6        "Bart Gets an 'F'"
3       1991â92              24  ...         25.5           "Colonel Homer"
4       1992â93              22  ...         28.6       "Lisa's First Word"
5       1993â94              22  ...         24.0  "Treehouse of Horror IV"

[5 rows x 8 columns]

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)